@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,600;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --light_color:#fff;
    --color_2 :rgb(255,255,255,.6) ;
    --dark_color:#000;
    --color_4:#00002c;
    --color_5:#000024;
    --color_6:#00b7cf;
    --color_7:#08d3d3;
}
html{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 85vh;
    background-color: var(--color_4);
    overflow: hidden;
}

header nav{
    width:70%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display:flex;
    align-items: center;
}
header nav ul li{
     position: relative;
     padding: 3px 15px;   
     font-size: 12px;
    
}

header nav li:nth-child(1)::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: rgb(154, 154, 150,.5);
    right: 9px;
    bottom: 1px;
}

header nav ul li a{
    color: var(--light_color);
    font-weight: 600;
    transition: .3s linear ;
}
header nav ul li a:hover{
    color: var(--color_2);
}
header button{
    padding: 12px 25px;
    background:linear-gradient(0deg, #ac2c86,#d8498d);
    border-radius: 30px;
    color: var(--light_color);
    font-size:11px;
    font-weight: 700px;
    transition: .3s linear;
    cursor: pointer;
}
header section{
    width: 70%;
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header section .content ,.img_date{
    position: relative;
    width: 50%;
    height: auto;
    color: var(--light_color);

}
header section .content h1{
    font-size:45px;
    line-height: 55px;
}
header section .content p{
    font-size: 13px;
    margin-top: 10px;
}

header section .content button{
    padding: 12px 25px;
    background:linear-gradient(0deg, #ac2c86,#d8498d);
    border-radius: 30px;
    color: var(--light_color);
    font-size:11px;
    font-weight: 700px;
    transition: .3s linear;
    cursor: pointer;
    margin-top: 30px;
}
header section .img_date img{
    width: 590px;
    animation: earth 70s linear infinite;
}
@keyframes earth {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
aside{
    color: var(--light_color);
    width: 100%;
    height: auto;
    background-color: var(--color_5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside h1{
    margin-bottom: 30px;
    padding-top:40px;
    position: relative;
}

aside h1::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    border-radius: 10px;
    left: 48%;
    transform: translatex(-50%);
    bottom: -10px;
    background-color: var(--color_6);

}
aside p{
    font-size: 12px;
    text-align: center;
}
aside img{
    position: relative;
    width: 100%;
    margin-top: -60px;
}
aside .time{
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .time span{
    font-size: 35px;
    font-weight: 900;
    margin:0px 25px;
    color: var(--color_7);
}
aside .time span h6{
    color:#e0d2d2;
    font-size: 13px;
    text-align: center;
}
aside .time h5{
    font-size: 30px;
    font-weight: 200;
    margin-top: -4px;   
}
aside button{
    padding: 12px 25px;
    background:linear-gradient(0deg, #ac2c86,#d8498d);
    border-radius: 30px;
    color: var(--light_color);
    font-size:11px;
    font-weight: 700px;
    transition: .3s linear;
    cursor: pointer;
    margin:40px 0 20px 0;
}

.app{
    width: 100%;
    background-color: var(--color_5);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light_color);
}  
.app .app_img_bx , .app_content_bx{
    width: 35%;
    height: auto;
    margin-top: 40px;
}
.app .app_img_bx{
    width: 30%;
}
.app .app_img_bx img{
    width: 90%;
} 
.app .app_content_bx h1{
   
   position: relative;
    line-height: 40px;
   font-size: 30px ;
}
.app .app_content_bx h1::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    left: 7%;
    border-radius:22% ;
    bottom: -10%;
    transform: translatex(-50%);
    background-color: var(--color_7);
}
.app .app_content_bx p{
    margin-top: 60px;
    word-break: break-all;
    font-size: 13px;
}
.app .app_content_bx img{
    margin-top: 20px;
    cursor: pointer;
}
.converter{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 50px;
}
.converter::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(imges/crypto\ bg.jpg) no-repeat  center center/cover;
    z-index: -1;
}

.converter h1{
    position: relative;
    text-align: center;
    padding-top: 40px;
    color: var(--light_color);
}
.converter h1::before{
    content: '';
    position: absolute;
    background-color: var(--color_7);
    width: 43px;
    border-radius: 50px;
    height: 2px;
    left: 50%;
    transform: translatex(-50%);
    bottom: -16%;
}


.converter .cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.converter .cards .card{
    position: relative;
    width: 380px;
    height: 210px;
}

.converter .cards .card2{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_6);
    border-radius: 50%;
    color: var(--light_color);
    cursor: pointer;
    margin: 0px 13px;
}   

.converter .cards .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000c80;
    border-radius: 10px;
    z-index: -1;
}
.converter .cards .card .select{
    display: flex;
    align-items: center;
    color: var(--light_color);
    margin: 30px 20px 0px 30px ;
}
.converter .cards .card .select h4{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--color_6);
    border-radius: 50%;
    font-size: 25px;
    box-shadow:  0 0 20px var(--color_6);
}
.converter .cards .card .select1{
    margin-left: 20px;
}
.converter .cards .card  .select .select1 h6{
    padding-bottom: 4px;
    font-size: 15px; 
    margin-left: 5px;
}
.converter .cards .card  .select .select1 select{
    width: 250px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--light_color);
    font-size: 16px;
    font-weight: 900;
}
.converter .cards .card  .select .select1 select option{
    color: var(--color_7);
    background-color: var(--dark_color);
}
.converter .cards .card .enter_btc{
    margin: 40px 30px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light_color);
    border-bottom: #d8498d 3px solid;
}
.converter .cards .card .enter_btc input{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--light_color);
    font-size: 22px;
    font-weight: 600;
    border-bottom: #d8498d;
    width: 100%;
}
.converter .cards .card p{
    color: var(--light_color);
    margin-left: 40px;
    padding-top: 8px;
}
.rocket{
    position: relative;
    width: 100%;
    height: auto;
    background: url(imges/rocket_bg.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket .rocket_content,
.rocket_img{
width: 32%;
height: auto;
color: var(--light_color);

}

.rocket .rocket_content h1{
    position: relative;
    font-size: 25px;
    line-height: 40px;
    margin-top: 60px;
    font-weight: 600;
    line-height: 40px;
}
.rocket .rocket_content h1::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00b7cf;
    left: 1%;
    border: 20%;
    bottom: -1px;

}
.rocket .rocket_content p{
    margin-top: 30px;
    font-size: 13px;
    padding-bottom: 30px;
}
.rocket .rocket_content ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rocket .rocket_content ul li{
    position: relative;
    width: 200px;
    margin: 7px 0;
    font-size: 14px;
    padding-left: 20px;
}


.rocket .rocket_content ul li::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#d8498d;
    left: 2%;
    bottom: 5px;
}
.rocket .rocket_content button{
    padding: 12px 25px;
    background:linear-gradient(0deg, #ac2c86,#d8498d);
    border-radius: 30px;
    color: var(--light_color);
    font-size:11px;
    font-weight: 700px;
    transition: .3s linear;
    cursor: pointer;
    margin-top: 25px;
}

.rocket .rocket_img img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.cr_map{
    background: url(img/rocket_bg.png) no-repeat center center/cover;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--light_color);
    position: relative;
    padding-bottom: 60px;
}
.cr_map h1{
    padding-top: 90px;
    position: relative;
    font-size: 25px;
}
.cr_map h1::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--color_6);
    left: 51%;
    transform: translatex(-50%);
    bottom: -13px;   
    border-radius: 20%; 
}
.cr_map p{
    width: 400px;
    margin: 40px auto 40px auto;
    font-size: 13px;
}

.cr_map .map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cr_map .map .card{
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
}

.cr_map .map .card .title{
    width: 130px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.cr_map .map .card .title h6{
    font-size: 11px;
}
.cr_map .map .card .title h4{
    font-size: 12px;
}
.cr_map .map .card h5{
    width: 30px;
    height: 1px;
    background-color: var(--light_color);
    margin: 15px 3.8px;
}
.cr_map .map .card h2{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color_6);
}
.cr_map .map .card h2::before{
    content: '';
    position: absolute;
    width:2px;
    height: 45px;
    background-color: var(--color_6);
    top: 5px;
    left: 7px;
}
.cr_map .map .card:nth-child(even){
    flex-direction: row-reverse;
}

.cr_map .map .card:nth-child(even) .title{
    align-items: flex-start;
}
.cr_map .map .card:nth-last-child(1) h2::before{
    display: none;
}
.cr_map .map .card:nth-last-child(1) h2{
    background: #1d1d88;
}

.cr_map .map .card:nth-last-child(2) h2{
    background: #1d1d88;
}
.cr_map .map .card:nth-last-child(3) h2{
    background: #1d1d88;
    
}
.cr_map .map .card:nth-last-child(3) h2::before{
    background: #1d1d88;


}
.cr_map .map .card:nth-last-child(1) h2::before{
    background: #1d1d88;
}
.cr_map .map .card:nth-last-child(2) h2::before{
    background: #1d1d88;
}

.male{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/Man_bg.png);
    width: 100%;
    height: auto;
}
.male .male_content,.male_img{
    width: 32%;
    height: auto;
    margin-top: 60px;
}
.male .male_content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.male .male_content h1{
    color:var(--light_color);
    position: relative;
    text-align: right;
    font-size: 25px;
    margin-top: 50px;
    line-height: 40px;
}
.male .male_content h1::before{
    content: '';
    position: absolute;
    width: 45px;
    height: 3px;
    background-color: var(--color_6);
    right: 1px;
    border-radius: 20%;
    bottom: -2px;
}
.male .male_content p{
    margin-top: 40px;
    color: var(--light_color);  
    font-size: 12px;
    text-align: right;
}
.male .male_content .client{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 30px
}
.male .male_content .client .cont{
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;   
    padding-right: 20px;
}
.male .male_content .client .cont .star{
    color: #d8498d;
    font-size: 12px;
    padding-bottom: 10px;
}
.male .male_content .client img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.male .male_content .client .cont h6{
    color: var(--color_6);
    padding-top: 5px;
}
.news{
    width: 100%;
    height: auto;
    padding-bottom: 20px;

    position: relative;
    background-color: var(--color_5);
}
.news h1{
    position: relative;
    padding-top: 70px;
    font-size: 25px;
    text-align: center;
    color: var(--light_color);
}
.news h1::before{
    content: '';
    position: absolute;
    background-color: var(--color_6);
    width: 60px;
    height: 3px;
    left: 50.6%;
    transform: translatex(-50%);
    bottom: -7px;
}
.news .cards{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 80px;
}
.news .cards .card{
    width: 320px;
    height: 350px;
    background-color: #28284e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0PX 28PX 25PX -25px var(--color_7) ;
}

.news .cards .card h6{
    color: var(--color_6);
    margin-bottom: 6px;
}
.news .cards .card h3{
    color: var(--light_color);
}
.news .cards .card p{
    color: var(--light_color);
    margin-top: 25px;
}
.news .cards .card h5{
    color: var(--light_color);
    margin-top: 30px;
}